[Unit]
Description=Servidor de Minecraft Paia's SMP
After=network.target

[Service]
Type=forking
User=seuusuário
ExecStart=/usr/bin/screen -dmS mine /usr/bin/startserver
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target


